{% extends "base.html" %} {% block content %}

<h1>Login</h1>

{% if wrongPassword %}
<p>Benutzername oder Passwort ist falsch!</p>
{% endif %}

<form method="POST" action="/login/">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div><input placeholder="username" name="username" type="text"></div>
    <div><input placeholder="password" name="password" type="password"></div>
    <div><button>Login</button></div>
    <a href="/register/">register an account</a>
</form>

{% endblock %}